.blog-post-card{
  background-color: white;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  overflow: hidden;
}
.post-img{
  width: 300px;
}
.post-title, .post-excerpt{
  color: orange;
  margin: 30px;
}
.read-more{
  color: red;
  background-color: blue;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}
.read-more:hover{
  background-color: black;
}